{% extends 'food/base.html'%}

{% block body   %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img height="300px" src="{{item.item_image}}" class="card-img-top" alt="{{ item.item_name }}">
            </div>
        </div>
        <div class="col-md-6">
<!-- when function based views -->
            <!-- <h1>{{  item.item_name}}</h1>
            <h2>{{  item.item_desc}}</h2>
            <h3>{{ item.item_price}}</h3> -->

<!-- When class based view was apllied -->
            <h1>{{ object.item_name}}</h1>
            <h2>{{  object.item_desc}}</h2>
            <h3>{{ object.item_price}}</h3>
            <a href="{% url 'delete_item'  item.id %}">Delete</a>
        </div>
    </div>

</div>
        
{% endblock%}


