{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header bg-success">
                    <div class="card-title">
                        Register
                    </div>
                    
                </div><div class="form-group"></div>
                    <form method="POST">
                         {% csrf_token %}
                         {% for field in form %}
                            
                                {{ field.name}}
                                <br>
                                {{ field }}
                           
                         {% endfor%}
                         <button class="btn-success" type="submit" >Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
